*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  background-color: black;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-family: 'Roboto', sans-serif;
}

.center {
  display: grid;
  place-content: center;
}

.introduction {
  margin-bottom: 4rem;
  text-align: center;
}

.heading {
  margin-bottom: 1rem;
}

.projects {
  display: grid;
  gap: 3rem;
  padding: 2rem;
}

.project {
  background: white;
  color: black;
  border-radius: 2.5rem;
  text-decoration: none;
  font-size: larger;
  transition: all 0.3s;
  animation: grow 1s alternate;
  font-weight: 400;
  padding: 0.8rem;

  &:hover {
    scale: 1.1;
    background: lightgray;
    font-size: 500;
  }

  &:nth-of-type(1) {
    animation-delay: 0.1s;
  }

  &:nth-of-type(2) {
    animation-delay: 0.3s;
  }

  &:nth-of-type(3) {
    animation-delay: 0.4s;
  }

  &:nth-of-type(4) {
    animation-delay: 0.5s;
  }
}

.footer {
  margin-top: 10rem;
  text-align: center;

  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.love-icon {
  height: 3rem;
  width: 3rem;
  color: red;
  animation: grow 0.8s infinite alternate;
}

.link {
  color: white;
}

@media screen and (min-width: 700px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .project {
    padding: 1.5rem 2rem;
  }
}

@keyframes glow {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}
