html,
body {
  width: 100%;
}

body {
  min-height: 100dvh;
  display: grid;
  place-content: center;
  background: repeating-radial-gradient(white, white, white, black, lightgrey);
}

.music-player {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5px;

  padding: 20px;
}

.play-pause {
  width: 80px;
  cursor: pointer;

  background: transparent;
  border: none;
  position: relative;
}

.pause-icon,
.play-icon {
  transform: scale(1);
  transform: rotate(0deg);
  transition: all 1s ease-in-out;
  position: absolute;
  top: -120px;
  right: -10px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.pause-icon {
  animation: rotate 2s infinite;
}

.paused {
  opacity: 0;
  width: 0;
  height: 0;
  transform: scale(0);
  transform: rotate(-45deg);
}

.bars {
  display: flex;
  gap: 8px;
  min-height: 200px;
  transform: rotate(180deg);
}

/* TODO fix why the bars are upside down */
.bar {
  width: 6px;
  height: 0;
  background: linear-gradient(#000, #fff);
  border-radius: 5px;
  transition: height 0.5s linear;
}

.details {
  margin: 10rem 0;
}

.link {
  font-weight: 500;
  text-decoration: underline;
}

.file-name {
  margin: 20px 0;
}

.change-file {
  cursor: pointer;
  border: none;
  color: #000;
  background: transparent;
  text-decoration: underline;
  font-weight: 500;
  padding: 0;
}

.modal {
  visibility: hidden;
  opacity: 0;
}

.modal:target {
  visibility: visible;
  transition: opacity 0.4s;
  opacity: 1;
}

.modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gray;
}
