html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  /* background: black; */
  display: grid;
  place-content: center;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  height: 30rem;
  display: flex;
  gap: 1rem;
  width: 60rem;
  justify-content: center;
}

.slide {
  border-radius: 2rem;
  flex-basis: 5rem;
  cursor: pointer;
  transition: flex-basis 500ms ease-in-out;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
  color: white;
}

.slide > span {
  border-radius: 100%;
  border: 2px solid white;
  font-size: medium;
  height: 3rem;
  width: 3rem;

  display: grid;
  place-items: center;
}

.slide:nth-child(1) {
  background: url('./images/1.jpeg');
}
.slide:nth-child(2) {
  background: url('./images/2.jpeg');
}
.slide:nth-child(3) {
  background: url('./images/3.jpeg');
}
.slide:nth-child(4) {
  background: url('./images/4.jpeg');
}
.slide:nth-child(5) {
  background: url('./images/5.jpeg');
}

@keyframes dance {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(3rem);
  }
}
