html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  place-content: center;
  position: relative;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.controls {
  margin: 1rem;
  position: fixed;
  right: 2rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.orientation {
  display: flex;
  gap: 1rem;
}

.theme-toggle {
  display: flex;
  gap: 0.5rem;
}

.theme-toggle button {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  display: grid;
  place-content: center;
}

.theme-toggle button:hover {
  background: rgb(246, 243, 243);
}

.theme-toggle button svg {
  height: 2rem;
  width: 2rem;
}

.sun {
  color: rgb(242, 203, 131);
}

.moon {
  color: white;
}

.theme-toggle button:hover .moon {
  color: black;
}

/* color */
@media (prefers-color-scheme: dark) {
  body {
    background: black;
  }
}

@media (prefers-color-scheme: light) {
  /* Light theme styles go here */
  body {
    background: white;
  }
}

.dark-mode {
  background: black;
}

.light-mode {
  background: white;
}

.light-mode .moon {
  color: black;
}

.orientation button {
  padding: 0.5rem 1rem;
  align-self: center;
  border-radius: 8px;
  border: 2px solid gray;
  cursor: pointer;
  text-transform: capitalize;
  background: white;
  color: black;
}

.orientation button:hover,
.orientation button:focus {
  background: gray;
  color: white;
}

.slider {
  height: 30rem;
  display: flex;
  gap: 1rem;
  width: 50rem;
  justify-content: center;
  transition: all 500ms ease-in-out;
}

.slide {
  border-radius: 2rem;
  flex-basis: 5rem;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  background-repeat: no-repeat;
  position: relative;

  padding-bottom: 1rem;
  color: white;
}

.expanded {
  flex-basis: 60%;
  justify-content: flex-start;
  padding-left: 1rem;
}

.slide:hover {
  opacity: 0.7;
}

.slide > span {
  border-radius: 100%;
  border: 2px solid white;
  font-size: medium;
  height: 3rem;
  width: 3rem;
  position: absolute;
  bottom: 15px;
  left: 16px;

  display: grid;
  place-items: center;
}

/* slide images */

.slide:nth-child(1) {
  background: url('./images/1.jpeg');
}
.slide:nth-child(2) {
  background: url('./images/2.jpeg');
}
.slide:nth-child(3) {
  background: url('./images/3.jpeg');
}
.slide:nth-child(4) {
  background: url('./images/4.jpeg');
}
.slide:nth-child(5) {
  background: url('./images/5.jpeg');
}

/* Animation */

@keyframes dance {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(3rem);
  }
}
