html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.puzzle {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.puzzle-piece {
  min-width: 136px;
  min-height: 136px;
  transition: all 0.2s ease-in-out;
}

.puzzle-piece svg {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.puzzle-group {
  display: flex;
}

/* row 1 */
.nitro {
  transform: rotateZ(-20deg) translate(-20px, -8px);
}

.citty {
  transform: translate(-10px, 20px);
}

/* row 2 */
.defu {
  transform: translate(-80px, 220px) rotateZ(-20deg);
}

.consola {
  transform: translate(-27px, 18px);
}

.ofetch {
  transform: translateX(-15px);
}

/* row 3 */
.changelogen {
  transform: translate(-17px, 10px);
}

.unbuild {
  transform: translate(-8px, -6px);
}

/* hover */

.puzzle:hover .puzzle-piece {
  transition: all 0.5 0.5 ease-in-out;
}

.puzzle:hover .defu {
  transform: translate(63px, 0px) rotateZ(0deg);
}

.puzzle:hover .destr {
  transform: translateX(27px);
}

.puzzle:hover .ofetch {
  transform: translateX(-45px);
}

.puzzle:hover .unbuild {
  transform: translate(-9px, -40px);
}

.puzzle:hover .changelogen {
  transform: translate(9px, -22px);
}

.puzzle:hover .citty {
  transform: translate(-9px, 55px);
}

.puzzle:hover .nitro {
  transform: rotateZ(0) translate(27px, 37px);
}
